@model TechTest01.Web.Models.HomeModel

@{
    ViewBag.Title = "Home";
}

<h2>Home Page MVC .net</h2>

<p>
    @Html.ActionLink("ANGULAR", "Index", "App")
</p>
<table class="table">
    <tr>
        <th>            
            @Html.DisplayFor(model => model.Product1.Name)
        </th>
        <th>
            @Html.DisplayFor(model => model.Product2.Name)
        </th>
    </tr>
    <tr>
        <td>            
            <img alt="im1"  width="200" height="200" src="@Model.Product1.ImageUrl" />
        </td>
        <td>
            <img alt="im2"  width="200" height="200" src="@Model.Product2.ImageUrl" />
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Product List", "Index", "Products")
</p>
